# Python
__pycache__/
*.py[cod]
*.class
*.so
.venv/
env/
venv/
ENV/

# Databases & Local Storage
*.db
*.sqlite
*.sqlite3

# Streamlit
.streamlit/

# OS Specific
.DS_Store
Thumbs.db

# Environment Variables
.env
