streamlit>=1.32.0
ydata-profiling==4.16.1
streamlit-ydata-profiling==0.2.1
av>=11.0.0
matplotlib>=3.7.0
numpy>=1.24.0
pandas>=2.0.0
plotly>=5.18.0
requests>=2.31.0
scikit-learn
fastapi
pydantic
sqlalchemy
notion-client
langchain
uvicorn
passlib==1.7.4
bcrypt==4.0.1
python-jose
psutil
cryptography
beautifulsoup4
fpdf2
python-pptx
chromadb
sentence-transformers